@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">

    <h2>API Ziyaretçi Güncelleme</h2>
    <br />

    <label>Ziyaretçi Adı</label>
    <input asp-for="Name" type="text" class="form-control" />
    <br />

    <label>Ziyaretçi Soyadı</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />

    <label>Ziyaretçi Şehir Bilgisi</label>
    <input type="text" asp-for="City" class="form-control" />
    <br />

    <label>Ziyaretçi Ülke Bilgisi</label>
    <input type="text" asp-for="Country" class="form-control" />
    <br />

    <label>Ziyaretçi Mail Adresi</label>
    <input type="email" asp-for="Mail" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
    <input asp-for="VisitorID" class="form-control" type="hidden" readonly="readonly" />

</form>

