@{
    ViewData["Title"] = "GetCityDestID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Booking Otel Şehir ID</h1>
<br />

<div class="form-group">
    <form method="post">
        <label>Şehir Adı Girin</label>
        <input type="text" class="form-control" name="p" />
    </form>
</div>
<br />
<button class="btn btn-primary">Şehir ID Getir</button>
