@model IEnumerable<BookingHotelSearchViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    double score = 0;
    string scoreword = "";
}

<h1>Booking Otel Api Rezervasyon Sayfası</h1>

<br />

<table class="table table-striped table-bordered">

    <tr>
        <th class="text-center">#</th>
        <th class="text-center">Otel Adı</th>
        <th class="text-center">Otel Puanı</th>
        <th class="text-center">Otel Değerlendirmesi</th>
        <th class="text-center">Detaylar</th>
    </tr>


    @foreach (var item in Model)
    {
        switch (item.reviewScoreWord)
        {
            case "Very good":
                scoreword = "Çok iyi";
                break;
            case "Good":
                scoreword = "İyi";
                break;
            case "Fabulous":
                scoreword = "Harika";
                break;
            case "Superb":
                scoreword = "En İyisi";
                break;
        }

        count++;
        <tr>
            @{
                score = double.Parse(item.reviewScore.ToString()) / 10;
            }
            <td>@count</td>
            <td>@item.name</td>
            <td>@score</td>
            <td>@scoreword</td>
            <td><a href="#" class="btn btn-primary">Detaylar</a></td>
        </tr>
    }

</table>


