@if (User.Identity.IsAuthenticated)
{
    <h1>@ViewBag.UserId</h1>
    <div class="leave-comment-form mt-5" id="reply">
        <h4 class="side-title mb-2">Bir yorum bırakın</h4>
        <p class="mb-4">
        </p>
        <form method="post" asp-action="AddComment" asp-controller="Comment">
            <div class="form-group">
                <br />
                <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz*" required="" spellcheck="false"></textarea>
                <input type="hidden" readonly="readonly" name="AppUserId" value="@ViewBag.UserId" />
                <input type="hidden" readonly="readonly" name="DestinationID" value="@ViewBag.i" />
            </div>
            <div class="submit text-right">
                <button class="btn btn-style btn-primary" type="submit" id="btnsave">Yorum Yap</button>
            </div>
        </form>
    </div>

}
else
{
         <div class="leave-comment-form mt-5" id="reply">
            <h4 class="side-title mb-2">Bir yorum bırakın</h4>
            <p class="mb-4">
            </p>
            <form>
                <div class="form-group">
                    <br />
                    <textarea name="CommentContent" class="form-control" placeholder="Yorum Yapabilmek İçin Giriş Yapmanız Gerekmektedir" readonly="Readonly" spellcheck="false"></textarea>
                </div>
                <div class="submit text-right">
                    <a href="/Login/SignIn/" class="btn btn-style btn-primary" type="submit" id="btnsave">Giriş Yap</a>
                </div>
            </form>
        </div>
}