@model EntityLayer.Concrete.Guide
@{
    ViewData["Title"] = "EditGuide";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card mb-4">
    <form method="post">
        <h5 class="card-header text-primary">@ViewBag.Name Adlı Rehberin Bilgileri</h5>
        <div class="card-body demo-vertical-spacing demo-only-element">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon11">Rehber Ad Soyad*<span asp-validation-for="Name" class="text-danger font-weight-bolder"></span> </span>
                <input asp-for="Name" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon11" />
                <span class="input-group-text" id="basic-addon11">Görsel*<span asp-validation-for="Image" class="text-danger font-weight-bolder"></span> </span>
                <input asp-for="Image" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon11" />
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon11">İnstagram URL</span>
                <input asp-for="InstagramUrl" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
                <span class="input-group-text" id="basic-addon11">Twitter URL</span>
                <input asp-for="TwitterUrl" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
            </div>

            <div class="input-group">
                <span class="input-group-text" id="basic-addon11">Hakkında*<span asp-validation-for="Description" class="text-danger font-weight-bolder"></span></span>
                <input asp-for="Description" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon11" />
                
            </div>

            <input asp-for="GuideID" type="hidden" readonly="readonly" />

            <button class="btn btn-outline-primary">Kaydet</button>
        </div>
    </form>
</div>
