
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | About </title>
    <!-- google fonts -->
    <link rel="shortcut icon" type="image/x-icon" href="https://i0.wp.com/dreamtravelhn.com/wp-content/uploads/2023/02/dream-travel.png?fit=500%2C500&ssl=1">
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"

          rel="stylesheet">
    <!-- google fonts -->
    <link href="~/member/theme-assets/fonts/flag-icon-css/css/flag-icon.min.css" rel="stylesheet" />
    <link href="~/member/theme-assets/fonts/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/Traversal-Liberty/assets/css/style-liberty.css">
    <!-- Template CSS -->
</head>