@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<form style="width:98%" method="post">
    <div class="form-group">
        <label>Rotalar</label>
        @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
    </div>
    <div class="form-group">
        <label>Kişi Sayısı</label>
        <input type="text" asp-for="PersonCount" class="form-control" />
    </div>
    <div style="width:20%" class="form-group">
        <label>Tarih</label>
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Eklemek İstedikleriniz</label>
        <textarea type="text" asp-for="Description" class="form-control"></textarea>
    </div>
    <button class="btn btn-sm btn-outline-dark" onclick="alert('Rezervasyonunuz başlangıçta onay bekliyor şeklinde alınacaktır.Rezervasyon onaylanma süreci için güncel rezervasyonlarım menüsünü takip etmeyi unutmayın');">Rezervasyon Oluştur</button>
</form>

