@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h3>Rezervasyon Yap</h3>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.min.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<form id="reservationForm" style="width:98%" method="post">
    <div class="form-group">
        <label>Rotalar</label>
        @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v,new {@class="form-control"})
    </div>
    <div class="form-group">
        <label>Kişi Sayısı</label>
        <input type="text" asp-for="PersonCount" class="form-control" />
    </div>
    <div style="width:20%" class="form-group">
        <label>Tarih</label>
        <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>Eklemek İstedikleriniz</label>
        <textarea type="text" asp-for="Description" class="form-control"></textarea>
    </div>
    <button type="submit" class="xxx btn bg-gradient-primary">Rezervasyon Yap</button>

</form>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $('.xxx').click(function (event) {
            event.preventDefault(); // Formun varsayılan gönderme davranışını durdur
            Swal.fire({
                title: 'Rezervasyon Oluşturulsun mu?',
                text: 'Rezervasyonunuz onay aşamasına geçecektir, onaylandığı durumda sizinle iletişime geçeceğiz',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Oluştur',
                cancelButtonText: 'İptal',
                confirmButtonColor: '#28a745', // Yeşil renk
                cancelButtonColor: '#d33' // Kırmızı renk
            }).then((result) => {
                if (result.isConfirmed) {
                    $('#reservationForm').submit();
                }
            });
        });
    });
</script>