
@{
    ViewData["Title"] = "OldReservation";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>OldReservation</h1>

@*<td class="align-middle text-center text-sm">
    <span class="badge badge-sm bg-gradient-secondary">Offline</span>
</td>*@
@*<td class="align-middle">
                                            <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                Edit
                                            </a>
                                        </td>*@