@model ChangePasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <h2>Şifre Yenileme Formu</h2>
    <form method="post">
        <span>Yeni Şifrenizi Giriniz</span>
        <input type="text" class="form-control" asp-for="password" />
        <span asp-validation-for="password" class="text-danger"></span>

        <br /> 
        <span>Şifreyi Doğrulayın</span>
        <input type="text" class="form-control" asp-for="confirmpassword" />
        <span asp-validation-for="confirmpassword" class="text-danger"></span>
        <br />
        <button class="btn btn-warning">Şifreyi Güncelle</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    </form>
</div>
