@model ForgotPasswordViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />
    <h2>Şifre Yenileme Formu</h2>
    <form method="post">
        <span>Mail Adresinizi Giriniz</span>
        <input type="text" class="form-control" asp-for="Mail" />
        <br />
        <button class="btn btn-warning">Şifre Yenileme Maili Gönder</button>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    </form>
</div>
