@model DreamTravel.Areas.User.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<form method="post" enctype="multipart/form-data">
    <label>Adınız</label>
    <input asp-for="name" type="text" class="form-control" />
    <br />
    <label>Soyadınız</label>
    <input asp-for="surname" type="text" class="form-control" />
    <br />
    <label>Mail Adresi</label>
    <input asp-for="email" type="text" class="form-control" />
    <br />
    <label>Kullanıcı Adı</label>
    <input asp-for="username" type="text" class="form-control" />
    <br />
    <label>Telefon Numarası</label>
    <input asp-for="phonenumber" type="text" class="form-control" />

    <label>Şifre</label>
    <input asp-for="password" type="text" class="form-control" />
    <br />
    <label>Şifreyi Onayla</label>
    <input asp-for="confirpassword" type="text" class="form-control" />
    <br />
    <div class="form-group">
        <input type="file" asp-for="image" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <h4>Profil Resminiz</h4>
        <img style="width:200px;height:160px;border-radius:20px" src="@Model.imageurl" alt="Profil Resmi" />
    </div>
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

